{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Techie Agri consultoria</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static '/img/icon.png' %}" rel="icon">
  <link href="{% static '/img/logo.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static '/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static '/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static '/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static '/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static '/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static '/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static '/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Techie - v2.1.0
  * Template URL: https://bootstrapmade.com/techie-free-skin-bootstrap-3/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container-fluid">

      <div class="row justify-content-center">
        <div class="col-xl-9 d-flex align-items-center">
          <!--<h1 class="logo mr-auto"><a href="index.html">Techie</a></h1>-->
          <!-- Uncomment below if you prefer to use an image logo -->
          <a href="/" class="logo mr-auto"><img src="{% static '/img/logo.png' %}" alt="" class="img-fluid"></a>

          <nav class="nav-menu d-none d-lg-block">
            <ul>
              <li class="active"><a href="/">Home</a></li>
              <li><a href="#about">Sobre</a></li>
              <li><a href="#portfolio">Serviços</a></li>                            
              <li><a href="#contact">Contato</a></li>

            </ul>
          </nav><!-- .nav-menu -->

          <a href="https://www.figma.com/proto/nAisshbUuGiW6WDj5QPkgn/TechieAgri-Prototipe?node-id=0%3A2&scaling=scale-down" class="get-started-btn scrollto">Ser produtivo e sustentável</a>
        </div>
      </div>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container-fluid" data-aos="fade-up">
      <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Seja mais produtivo e sustentável com a TechieAgri</h1>
          <h2>Nós somos uma startup de consultoria do agro em que visa uma maior sustentabilidade e produtividade no campo.</h2>
          <div><a href="https://www.figma.com/proto/nAisshbUuGiW6WDj5QPkgn/TechieAgri-Prototipe?node-id=0%3A2&scaling=scale-down" class="btn-get-started scrollto">Ser produtivo e sustentável</a></div>
        </div>
        <div class="col-xl-4 col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="150">
          <img src="{% static '/img/hero-img.png' %}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="150">
            <img src="{% static '/img/method.png' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
            <h3>O nosso propósito</h3>
            <p class="font-italic">
              Trazer soluções sutentáveis que tragam maior produtividade e segurança para o produtor rural a partir de uma abordagem tecnológica.
            </p>
            <ul>
              <li><i class="icofont-check-circled"></i> Certificação e obtenção de selos verdes.</li>
              <li><i class="icofont-check-circled"></i> Projetos personalizados para obter maior produtividade.</li>
              <!--<li><i class="icofont-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>-->
            </ul>
            <a href="/produtos" class="read-more">Saiba mais <i class="icofont-long-arrow-right"></i></a>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">232</span>
            <p>Clientes</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">521</span>
            <p>Projetos</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">1,463</span>
            <p>Horas de suporte</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">15</span>
            <p>Equipe</p>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Services Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Serviços</h2>
          <p>Preparamos os melhores serviços sobre certificação e atividades de consultoria que irão aumentar sua produtividade no campo.</p>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">Todos</li>
              <li data-filter=".filter-app">Certificação</li>
              <li data-filter=".filter-card">Análise de solo</li>
              <!--<li data-filter=".filter-web">Web</li>-->
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static '/img/portfolio/3.png' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Certificação vegana</h4>
                <!--<a href="portfolio-details.html"><p>Saiba Mais</p></a>-->
                
              </div>
              <div class="portfolio-links">
                <a href="{% static '/img/portfolio/3.png' %}" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="bx bx-plus"></i></a>
                <!--<a href="portfolio-details.html" ><i class="bx bx-link"></i></a>-->
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static '/img/portfolio/4.png' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Certificação orgânica</h4>
                <!--<a href="portfolio-details.html"><p>Saiba Mais</p></a>-->
              </div>
              <div class="portfolio-links">
                <a href="{% static '/img/portfolio/4.png' %}" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                <!--<a href="portfolio-details.html" ><i class="bx bx-link"></i></a>-->
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{% static '/img/portfolio/1.png' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Análise físico-química de solo</h4>
                <!--<a href="portfolio-details.html"><p>Saiba Mais</p></a>-->
              </div>
              <div class="portfolio-links">
                <a href="{% static '/img/portfolio/1.png' %}" data-gall="portfolioGallery" class="venobox" title="App 2"><i class="bx bx-plus"></i></a>
                <!--<a href="portfolio-details.html" ><i class="bx bx-link"></i></a>-->
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{% static '/img/portfolio/2.png' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Análise microbiológica de solo</h4>
                <!--<a href="portfolio-details.html"><p>Saiba Mais</p></a>-->
              </div>
              <div class="portfolio-links">
                <a href="{% static '/img/portfolio/2.png' %}" data-gall="portfolioGallery" class="venobox" title="App 2"><i class="bx bx-plus"></i></a>
                <!--<a href="portfolio-details.html" ><i class="bx bx-link"></i></a>-->
              </div>
            </div>
          </div>

          <!--<div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 2</h4>
                <p>Card</p>
              </div>
              <div class="portfolio-links">
                <a href="assets/img/portfolio/portfolio-4.jpg" data-gall="portfolioGallery" class="venobox" title="Card 2"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web 2</h4>
                <p>Web</p>
              </div>
              <div class="portfolio-links">
                <a href="assets/img/portfolio/portfolio-5.jpg" data-gall="portfolioGallery" class="venobox" title="Web 2"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 3</h4>
                <p>App</p>
              </div>
              <div class="portfolio-links">
                <a href="assets/img/portfolio/portfolio-6.jpg" data-gall="portfolioGallery" class="venobox" title="App 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 1</h4>
                <p>Card</p>
              </div>
              <div class="portfolio-links">
                <a href="assets/img/portfolio/portfolio-7.jpg" data-gall="portfolioGallery" class="venobox" title="Card 1"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 3</h4>
                <p>Card</p>
              </div>
              <div class="portfolio-links">
                <a href="assets/img/portfolio/portfolio-8.jpg" data-gall="portfolioGallery" class="venobox" title="Card 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web 3</h4>
                <p>Web</p>
              </div>
              <div class="portfolio-links">
                <a href="assets/img/portfolio/portfolio-9.jpg" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>-->

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    
    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Nosso diferencial</h2>
          <p>Visamo acelerar o processo de consultoria e certificação, através de tecnologias da informação.</p>
        </div>

        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column align-items-lg-center">
            <div class="icon-box mt-5 mt-lg-0" data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-timer"></i>
              <h4>Velocidade</h4>
              <p>O aplicativo "TechieHelper" facilita a nossa comunicação para trazermos as soluções mais acertivas para você.</p>
            </div>
            <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-shield"></i>
              <h4>Segurança</h4>
              <p>Todos os seus dados e informações sobre a sua fazendo estarão assegurados em nosso sistema, bem como nossas conversas.</p>
            </div>
            <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-receipt"></i>
              <h4>Serviços Personalizados</h4>
              <p>Construiremos juntos soluções personalizadas para que você possa ser mais produtivo no campo.</p>
            </div>
            <!--<div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-shield"></i>
              <h4>Beatae veritatis</h4>
              <p>Expedita veritatis consequuntur nihil tempore laudantium vitae denat pacta</p>
            </div>-->
          </div>
          <div class="image col-lg-6 order-1 order-lg-2 " data-aos="zoom-in" data-aos-delay="100">
            <img src="{% static '/img/features.svg' %}" alt="" class="img-fluid">
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Testimonials Section ======= -->
    <!--<section id="testimonials" class="testimonials section-bg">
      <div class="container">
        <div class="section-title">
          <h2>Equipe</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="assets/img/gabriel-palma.jpg" class="img-fluid" alt="">
                
              </div>
              <div class="member-info">
                <h4>Gabriel Rodrigues Palma</h4>                
                <p>
                  Desenvolvedor e consultor da TechieAgri.
                </p>
                                
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="assets/img/gabriel-palma.jpg" class="img-fluid" alt="">
                
              </div>
              <div class="member-info">
                <h4>Gabriel Rodrigues Palma</h4>                
                <p>
                  Desenvolvedor e consultor da TechieAgri.
                </p>
                                
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="assets/img/gabriel-palma.jpg" class="img-fluid" alt="">
                
              </div>
              <div class="member-info">
                <h4>Gabriel Rodrigues Palma</h4>                
                <p>
                  Desenvolvedor e consultor da TechieAgri.
                </p>
                                
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="assets/img/gabriel-palma.jpg" class="img-fluid" alt="">
                
              </div>
              <div class="member-info">
                <h4>Gabriel Rodrigues Palma</h4>                
                <p>
                  Desenvolvedor e consultor da TechieAgri.
                </p>
                                
              </div>
            </div>
          </div>

          

        </div>

      </div>
    </section>-->
    <!-- End Testimonials Section -->

    
    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Preços</h2>
          <p>Os nossos preços estão baseados em planos. Esses planos possuem consultorias rápidas gratuítas pelo nosso aplicativo até serviços personalizados para suas demandas.</p>
        </div>

        <div class="row">

          <!--<div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="box">
              <h3>Gratuíto</h3>
              <h4><sup>$</sup>0<span> / Mês</span></h4>
              <ul>
                <li>Acesso ao "TechieHelper"</li>
                <li>Blog.</li>
                <li>Pedidos</li>
                <li class="na">Suporte 24 horas</li>
                <li class="na">Plataforma de manutenção de selos verdes</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Comprar agora</a>
              </div>
            </div>
          </div>-->

          <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
            <div class="box featured">
              <h3>Gratuíto</h3>
              <h4><sup>R$</sup>0 <span> / month</span></h4>
              <ul>
                <li>Adquire após fechamento de contrato</li>
                <li>Renova todo ano</li>                
                <li>Acesso a plataforma (notícias, novidades)</li>
                <li>Acompanhamento da empresa</li>
                <li class="na">Descontos em consultorias de crédito</li>
                <li class="na">Atendimento e disponibilidade prioritários</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Comprar agora</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="box">
              <h3>Pro</h3>
              <h4><sup>R$</sup>29,90<span> / month</span></h4>
              <ul>
                <li>Adquire após fechamento de contrato</li>
                <li>Renova todo ano</li>                
                <li>Acesso a plataforma (notícias, novidades)</li>
                <li>Acompanhamento da empresa</li>
                <li >Descontos em consultorias de crédito</li>
                <li >Atendimento e disponibilidade prioritários</li>
                <li class="na">Descontos em certificação</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Comprar agora</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
            <div class="box">
              <span class="advanced">Exclusivo</span>
              <h3>Premium</h3>
              <h4><sup>R$</sup>69,90<span> / month</span></h4>
              <ul>
                <li>Adquire após fechamento de contrato</li>
                <li>Renova todo ano</li>                
                <li>Acesso a plataforma (notícias, novidades)</li>
                <li>Acompanhamento da empresa</li>
                <li >Descontos em consultorias de crédito</li>
                <li >Atendimento e disponibilidade prioritários</li>
                <li >Descontos em certificação</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Comprar agora</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Pricing Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Questionamentos frequentes</h2>
          <p>As principais perguntas que nós fazem durante nossas consultorias.</p>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up" data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" class="collapse" href="#faq-list-1">O que consiste a análise e recomendação microbiológica do solo? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-parent=".faq-list">
                <p>
                  Analisando a microbiologia presente no solo, buscamos dar suporte para o desenvolvimento e a implementação de práticas de manejo, a fim de melhorar sua qualidade e fazendo deste um ambiente mais propício ao desenvolvimento de plantas. Cabe ainda neste tipo de serviço, projetos relacionados ao manejo ambiental, como o monitoramento de áreas em recuperação ou o manejo de áreas contaminadas. Busca-se nesta área unir a eficiência analítica com a viabilidade econômica das mesmas. Verificamos as metodologias mais adequadas a cada situação, como na obtenção destes dados a partir das amostras alvos de análise.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-2" class="collapsed">Como obter certificações? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-parent=".faq-list">
                <p>
                  Basta acessar realizar o cadastro em nossa plataforma e solicitar uma de nossas certificações do nosso portifólio que iremos preparar as documentações necessárias e agendaremos uma visita para obter os pré-requesitos necessários da sua certificação.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-3" class="collapsed">Quais tipos de certificações vocês realizam? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-parent=".faq-list">
                <p>
                  No momento nós facilitamos o processo de obtenção de certificação vegana e orgânica para os seus produtos,
                </p>
              </div>
            </li>

            <!--<li data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-4" class="collapsed">Como o aplicativo "TechieHelper" pode me ajudar? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-parent=".faq-list">
                <p>
                  A partir do momento em que você cria a sua conta em nossa plataforma você terá acesso a informações personalizadas sobre produtividade no campo, terá suporte 24 horas
                </p>
              </div>
            </li>-->

            

          </ul>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contato</h2>
          <!--<p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>-->
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <h3>Endereço</h3>
              <p>A108 Adam Street, New York, NY 535022</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-envelope"></i>
              <h3>Email</h3>
              <p>contato@techieAgri.com.br</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-phone-call"></i>
              <h3>Ligue já</h3>
              <p>+1 5589 55488 55</p>
            </div>
          </div>

        </div>

        <div class="row">

          <!--<div class="col-lg-6 ">
            <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
          </div>-->

          <!--<div class="col-lg-6">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>-->

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>TechieAgri</h3>
            <p>
              A108 Adam Street <br>
              New York, NY 535022<br>
              United States <br><br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> contato@techieagri.com.br<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Links Úteis</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">Sobre</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#portifolio">Serviços</a></li>
              
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Nossos serviços</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Crédito rural</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Manejo de solo</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Certificação ambiental</a></li>
              
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Receba nossas notícias</h4>
            <p>Tudo sobre certificação e alternativas sustentáveis para obter maior produtividade</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">

      <div class="copyright-wrap d-md-flex py-4">
        <div class="mr-md-auto text-center text-md-left">
          <div class="copyright">
            &copy; Copyright <strong><span>TechieAgri</span></strong>. Todos os direitos reservados.
          </div>
          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/techie-free-skin-bootstrap-3/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
          </div>
        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static '/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static '/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static '/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static '/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static '/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static '/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static '/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static '/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static '/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static '/vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static '/js/main.js' %}"></script>

</body>

</html>